rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{taskId} {
      allow read: if true;

      allow create, update: if
        request.resource.data.text is string &&
        request.resource.data.text.size() > 0 &&
        request.resource.data.text.size() <= 500 &&
        request.resource.data.isCompleted is bool &&
        request.resource.data.comments is list;

      allow delete: if true;
    }
  }
}
